@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #444;
}

ul {
    list-style-type: none;
    padding: 0;
}

.titre-section {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.section {
    margin-top: 10em;
    margin-bottom: 10em;
}

.center {
  display: flex;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 45px;
  height: 45px;

  border: none;
  border-radius: 50%;
  background-color: #2978b5;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.2s;
  z-index: 1000;
}

.scroll-top-btn:hover {
  transform: translateY(-3px);
  background-color: #1f5f8a;
}

.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.scroll-down-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;

  border: none;
  border-radius: 50%;
  background-color: #2978b5;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.2s;
  z-index: 1000;
}

.scroll-down-btn:hover {
  transform: translateY(3px);
  background-color: #1f5f8a;
}

.scroll-down-btn.show {
  opacity: 1;
  visibility: visible;
}

section {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0.1;
}

section.active {
  opacity: 1; 
  transform: scale(1.02); 
}
