.topnav {
    position: sticky;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    height: 8em;
}

.topnav a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
    
}

.topnav .active {
    color: #2978b5;
}

.topnav a:hover {
    color: blue;
}
