.projets-grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}

.projet {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s linear;
}

.projet:hover {
  transform: translateY(-7px);
}

.project-desc {
  margin-top: 1em;
}

.projet-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.element-projet-stack {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: black;
}

.projet-link {
  margin-left: 0.5em;
}

.projets .titre-section {
    margin-top: 2em;
}

.projet h3 {
  color: #2978b5;
}